.genre-pill {
    display: inline-block;
    background-color: #34d399;
    color: #fff;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    margin: 0.2rem;
    transition: background-color 0.2s;
}

    .genre-pill:hover {
        background-color: #10b981;
    }

h6 {
    margin-bottom: 12px;
    color: #FFF;
}

.my-btn {
    align-self: flex-end;
    position: relative;
    color: #fbe524;
    top: 3px;
    right: 5px;
}

.btn-dark {
    background: gray;
    border: gray;
}

    .btn-dark:hover {
        background: darkgrey;
        border: gray;
    }