.genre-pill {
    display: inline-block;
    background-color: #34d399;
    color: #fff;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    margin: 0.2rem;
    transition: background-color 0.2s;
}

    .genre-pill:hover {
        background-color: #10b981;
    }
