.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.movie-card {
    background: #1F2937;
    border-radius: 16px;
    padding: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
}

    .movie-card h3 {
        margin-bottom: 8px;
    }

    .movie-card .genre,
    .movie-card .year {
        color: #f6e7bf;
        font-size: 0.9rem;
        margin-bottom: 6px;
    }


.movie {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    gap: 10px;
}

.movie-info {
    display: flex;
    flex-direction: column;
}

.my-btn {
    align-self: flex-end;
    position: relative;
    color: #fbe524;
    top: 3px;
    right: 5px;
}

.btn-dark {
    background: gray;
    border: gray;
}

    .btn-dark:hover {
        background: darkgrey;
        border: gray;
    }

h6 {
    margin-bottom: 12px;
    color: #FFF;
}

.movie-card svg {
    fill: #f6e7bf;
}
